@{
    ViewBag.Title = "Home ";
}

<div class="jumbotron" style="text-align:center;">
    <h1 id="header-font">Welcome</h1>
    <h3 class="brand-font">@ViewBag.Message</h3>
    <img src="~/Content/img/lema.png" style="margin:10px;">
</div>

@*Scripts*@
<script src="~/Scripts/products/vendors/trianglify.min.js"></script>
<script src="~/Scripts/products/vendors/TweenMax.min.js"></script>
<script src="~/Scripts/products/vendors/ScrollToPlugin.min.js"></script>
<script src="~/Scripts/products/vendors/cash.min.js"></script>
<script src="~/Scripts/products/Card-circle.js"></script>
<script src="~/Scripts/products/demo.js"></script>