@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="text-align:center;">
    <h1 id="header-font">Welcome</h1>
    <h3 class="brand-font">@ViewBag.Message</h3>
    <img src="~/Content/img/lema.png" style="margin:10px;">
</div>
@*Product List*@
<div class="container">
    <div class="content">
        <div class="pattern pattern--hidden"></div>
        <div class="wrapper">
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath2">
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="~/Content/img/b.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">About Batman</h2>
                            <p class="card__subtitle">A story about the dark knight.</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="~/Content/img/authors/Profe.jpg" alt="author02" />
                                <span class="meta__author">Bladimir Arroyo</span>
                                <span class="meta__phone">8956-4721</span>
                            </div>
                            <p>Business model canvas bootstrapping deployment startup. In A/B testing pivot niche market alpha conversion startup down monetization partnership business-to-consumer success for investor mass market business-to-business.</p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath5">
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath5)" width="1920" height="500" xlink:href="~/Content/img/e.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Swimming in the ocean</h2>
                            <p class="card__subtitle">A Makrel's story</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="~/Content/img/authors/5.png" alt="author05" />
                                <span class="meta__author">Michaela Walters</span>
                                <span class="meta__phone">06/11/2015</span>
                            </div>
                            <p>Business model canvas bootstrapping deployment startup. In A/B testing pivot niche market alpha conversion startup down monetization partnership business-to-consumer success for investor mass market business-to-business.</p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="clipPath6">
                                <circle class="clip" cx="960" cy="250" r="992"></circle>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#clipPath6)" width="1920" height="500" xlink:href="~/Content/img/f.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">Freedom Fighters</h2>
                            <p class="card__subtitle">When it's too hot to think</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="~/Content/img/authors/3.png" alt="author06" />
                                <span class="meta__author">Tonnh Lazo</span>
                                <span class="meta__phone">06/10/2015</span>
                            </div>
                            <p>Business model canvas bootstrapping deployment startup. In A/B testing pivot niche market alpha conversion startup down monetization partnership business-to-consumer success for investor mass market business-to-business.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Scripts*@
<script src="~/Scripts/products/vendors/trianglify.min.js"></script>
<script src="~/Scripts/products/vendors/TweenMax.min.js"></script>
<script src="~/Scripts/products/vendors/ScrollToPlugin.min.js"></script>
<script src="~/Scripts/products/vendors/cash.min.js"></script>
<script src="~/Scripts/products/Card-circle.js"></script>
<script src="~/Scripts/products/demo.js"></script>
@*<script src="~/Scripts/products/prod.js"></script>*@