@{
    ViewBag.Title = "My Products";
}
@if (Session["LogedUsername"] != null)
{
    <div class="prod-container">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">
                    <a href="#"><i class="fa fa-fw fa-folder-open-o"></i><span>All Products</span></a>
                    <a href="#"><i class="fa fa-fw fa-clock-o"></i><span>Overcoming</span></a>
                    <a href="#"><i class="fa fa-fw fa-exchange"></i><span>Exchanged</span></a>
                    <a href="#"><i class="fa fa-fw fa-plus"></i><span>New Product</span></a>
                    <a href="#"><i class="fa fa-fw fa-edit"></i><span>Edit Product</span></a>
                    <a href="#"><i class="fa fa-fw fa-times"></i><span>Delete Product</span></a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">Open Menu</button>
        <div class="content-wrap">
            <div class="title-content">
                <header class="codrops-header">
                    <h1>My Products</h1>
                </header>
            </div>
        </div>
    </div>
    <script src="~/Scripts/products/classie.js"></script>
    <script src="~/Scripts/products//main.js"></script>
}