@{
    ViewBag.Title = "My Products";
}

<h1>My Products</h1>
<form id="search-menu">
    <input type="search" placeholder="Search...">
</form>
<hr />
<div class="vertical_menu">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">All <span class="badge">1</span></a></li>
        <li role="presentation"><a href="#">Outstanding <span class="badge">0</span></a></li>
        <li role="presentation"><a href="#">Changed <span class="badge">0</span></a></li>
    </ul>
</div>
<div class="product_list">
    <div class="square" onclick="createButton()"></div>
</div>

